Facilities | <%= link_to 'Pending Procedures and Items', admins_path %>


<% @facilities.each do |facility| %>
  <div>
    <%= facility.name %> <%= facility.city %> <%= facility.state %> <%= facility.zip %> 
      <%= facility.specialty %> 
    <%= link_to "Edit", edit_facility_path(facility) %>
    <%= link_to "Delete", facility_path(facility), method: :'delete', data: { confirm: 'Are you sure?'} %>
  </div>
<% end %>
