<%=form_for @facility do |f|%>
    <div>
        <%=f.text_field  :name ,placeholder:"Name of Facility"%>
    </div>
    <div>
        <%=f.text_field :city ,placeholder:"City"%>
    </div>
    <div>
        <%=f.text_field :state ,placeholder:"State"%>
    </div>
    <div>
        <%=f.text_field :zip ,placeholder:"ZIP Code"%>
    </div>
    <div>
        <%=f.text_field :specialty ,placeholder:"Speciality of Facility"%>
    </div>
     <div>
        <%=f.submit "Post"%>
    </div>

<%end%>
