
<main role="main">
  <div class="container border border-secondary rounded-lg mt-3">
    <h1 class="text-center">
        Procedures
    </h1>
  </div>

<h4 class="text-center p-2">Search</h4>

<%= link_to  "New Procedure",new_procedure_path, class:'btn btn-primary btn-sm btn-block' %>

<%= @procedures.each do |f|%>
    <div>
        <%=f.name%> <%=f.date%> <%=f.description%> $<%=f.price%> Facility Name:<%=f.facility_id%>
        <%= link_to "Edit",edit_procedure_path(f.id) %> | <%= link_to "Delete",procedure_path(f.id), method: :delete,
              data: { confirm: 'Are you sure?'} %>
    </div>
<%end%>

</div>
